certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
idna==2.6
kafka-python
kiwisolver==1.0.1
matplotlib==2.2.2
numpy~=1.21.4
oauthlib==2.0.7
Pillow~=8.4.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.7.2
pytz==2018.4
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
tweepy
urllib3==1.22
wincertstore==0.2
wordcloud~=1.8.1
attrs==18.1.0
flake8==3.5.0
mccabe==0.6.1
more-itertools==4.1.0
pluggy==0.6.0
py==1.5.3
pycodestyle==2.3.1
pyflakes==1.6.0
pymongo~=4.0
pytest
six==1.11.0
dash-core-components
dash
pandas
pyspark
